doctype html
html(lang="en")
    head
        title Free Code Camp - Dynamic Web Projecs
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="learning projects freeCodeCamp")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css" rel="stylesheet" href=cssPath)
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous")
    body
        section.header
            nav.header__nav
                div.header__nav__left
                    a.header__nav__left__items(href="/")
                        i(class="fa fa-home" title="Home")
                    a.header__nav__left__items.polls(href="/") Polls
                div.header__nav__right
                    if auth == false
                        if action == null
                            a.header__nav__right__items.authBtn(href="/auth/login") Login                        
                            a.header__nav__right__items.authBtn(href="/auth/register") Register
                        a.header__nav__right__items(href="/auth-facebook")
                            i(class="fa fa-facebook-square " title="Login with Facebook" aria-hidden="true")
                        a.header__nav__right__items(href="/auth-github")
                            i(class="fa fa-github-square" title="Login with GitHub" aria-hidden="true")
                        a.header__nav__right__items(href="/auth-twitter")
                            i(class="fa fa-twitter-square" title="Login with Twitter" aria-hidden="true")
                        a.header__nav__right__items(href="/auth-google")
                            i(class="fa fa-google-plus-square " title="Login with Google" aria-hidden="true") 
                    else 
                        a.header__nav__right__items.authBtn(href="/auth/logout") Logout
                        span.header__nav__right__items.authBtn--no-link Welcome, #{user}

        block content