extends layout

block content
    section.header1
        .header1__title Free Code Camp - Dynamic Web Projects
    section.body
        .container
            h3 Apps
            .container__app 
                a(href="/voting-app")
                    p.container__app__title Voting App
                    p.container__app__desc App for managing, sharing and creating new polls.
                    .container__app__greyout 
                        i(class="fa fa-play-circle-o" aria-hidden="true") 
                        p ENTER
            .container__app
                a(href="/voting-app")
                    p.container__app__title Nightlife Coordination App
                    p.container__app__desc Coordinating people together on going out.
                    .container__app__greyout
                        i(class="fa fa-play-circle-o" aria-hidden="true") 
                        p ENTER
            .container__app
                a(href="/voting-app")
                    p.container__app__title The Stock Market App
                    p.container__app__desc Charting stocks, showing timeline and adding new stocks.
                    .container__app__greyout 
                        i(class="fa fa-play-circle-o" aria-hidden="true") 
                        p ENTER
            .container__app
                a(href="/voting-app")
                    p.container__app__title Book Trading Club App
                    p.container__app__desc Members can freely exchange books at their own leisure.
                    .container__app__greyout 
                        i(class="fa fa-play-circle-o" aria-hidden="true") 
                        p ENTER
            .container__app
                a(href="/voting-app")
                    p.container__app__title Pinterest Clone
                    p.container__app__desc Well, there it is... a Pinterest Clone. It's a bit weird.
                    .container__app__greyout 
                        i(class="fa fa-play-circle-o" aria-hidden="true") 
                        p ENTER
        br  
    section.footer
        footer.footer__codedby Made with 
            i(class="fa fa-heart-o")
            span &nbspby&nbsp
            a(class="footer__codedby__link" href="https://codepen.io/Roky/full/YqGqWg" target="_blank") Roky
            span &nbsp | &nbsp
            a(class="footer__codedby__link" href="https://github.com/Rock-son/Dynamic-web-projects") GitHub Repository