extends includes/head.pug

block content
    include includes/navbar.pug
    section.subHeader
        .subHeader__title Free Code Camp - Dynamic Web Projects
    section.context
        .container
            h3 Projects
            .container__app 
                a(href="/voting-app")
                    .container__app__title Voting App
                    .container__app__desc App for managing, sharing and creating new polls.
                    .container__app__greyout
                        .container__app__title Voting App
                        .container__app__desc App for managing, sharing and creating new polls.
            .container__app
                a(href="/voting-app")
                    .container__app__title Nightlife Coordination App
                    .container__app__desc Coordinating people together on going out.
                    .container__app__greyout
                        .container__app__title Nightlife Coordination App
                        .container__app__desc Coordinating people together on going out.
            .container__app
                a(href="/voting-app")
                    .container__app__title The Stock Market App
                    .container__app__desc Charting stocks, showing timeline and adding new stocks.
                    .container__app__greyout
                        .container__app__title The Stock Market App
                        .container__app__desc Charting stocks, showing timeline and adding new stocks.
            .container__app
                a(href="/voting-app")
                    .container__app__title Book Trading Club App
                    .container__app__desc Members can freely exchange books at their own leisure.
                    .container__app__greyout
                        .container__app__title Book Trading Club App
                        .container__app__desc Members can freely exchange books at their own leisure.
            .container__app
                a(href="/voting-app")
                    .container__app__title Pinterest Clone
                    .container__app__desc Well, there it is... a Pinterest Clone. It's a bit weird.
                    .container__app__greyout
                        .container__app__title Pinterest Clone
                        .container__app__desc Well, there it is... a Pinterest Clone. It's a bit weird.
        br  
    include includes/footer.pug
    script(type="text/javascript" src=mainJS )