extends includes/head.pug
    
block content
    include includes/navbar.pug
    section.context
        div.form__container
            if action == "/auth/register"
                h1.form__container__title Sign Up
                h5.form__container__subtitle Please fill out the Form
            else
                h1.form__container__title Login
                h5.form__container__subtitle Please fill in the Login Data
            hr.form__container__line
            form.form(method='POST' action=action)
                input(type="hidden" name="_csrf" value=csrfTkn)
                input.form__control(type='text' placeholder='Username' name='username' autofocus)
                input.form__control(type='password' placeholder='Password' name='password')
                if action == "/auth/register"
                    input.form__control(type='password' placeholder='Confirm Password' name='confirmPassword')
                    input.form__submit.form__control(type='submit' name="submit" value="Register")
                if action == "/auth/login"
                    input.form__submit.form__control(type='submit' name="submit" value="Login")
            a.form__container__footnote(href=reverseType) #{footnote}
    include includes/footer.pug
