section.header__txt
    a.header__txt__title(href="/voting-app") Voting App
    .header__txt__subtitle A #[a(href="https://www.freecodecamp.org/") Free Code Camp] Project
    .header__txt__stub A Place where you can make, host and share Polls