doctype html
html(lang="en")
    head
        title Free Code Camp - Dynamic Web Projects
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no")
        meta(name="description" content="learning projects freeCodeCamp")
        link(type="text/css" rel="stylesheet" href=cssPath)
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous")
    body
        block content