doctype html
html(lang="en")
    head
        title Free Code Camp - Dynamic Web Projecs
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="learning projects freeCodeCamp")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css" href="./style.css")
    body
        <!--[if lt IE 7]>
            p.browsehappy You are using an #[strong outdated] browser. Please #[a(href="#") upgrade] your browser to improve your experience.
        <![endif]-->
        .body-container
            .body-container__header 
            h1 Free Code Camp - Dynamic Web Projects
            p Check this out #{author.toUpperCase()}!

            .body-container__main
            p Here comes a couple of images #{view}

            .body-container__footer
            p And here comes... the footer!