extends includes/head.pug

block content
    include includes/navbar.pug
    section.context
        h1.context__header Create a new Poll
        form.context__form(action="/voting-app/createPoll" method="post" id="poll_form")
            fieldset.context__form__fieldset
                h3.context__form__header
                input(type="hidden" name="createdBy" value=user)
                label(for="pollTitle") Poll Name
                input(id="pollTitle" type="text" name="poll_title" placeholder="")
                br
                br
                label(for="pollOptions") Poll Options
                div.context__form__container(id="context__options")
                input.context__form__options(name="option" value="" id="new_form_option")
                button#options_button(class="btn btn--full" title="Register") add option
                br
                input.context__form__submit(type="submit" value="Submit")
    include includes/footer.pug    
    script(type="text/javascript" src=js )