extends includes/head.pug

block content
    include includes/navbar.pug
    include includes/headerText.pug
    section.context
    section.context
        each poll in polls
            .context__card
                .context__card__body
                    a.context__card__body__title(href="./poll?url=" + poll.url)=poll.title
                    .context__card__body__container
                        .context__card__body__container__left                
                            ul.items                        
                                each val in poll.options
                                    a.btn.btn--empty.btn--large(href="#")=val[0]
                        .context__card__body__container__middle
                            a.btn.btn--medium.btn--full.hidden(href="./poll?url=" + poll.url) Submit vote
                        .context__card__body__container__right
                            .label Votes:
                            .votes=poll.usersVoted.length              
                .context__card__footer
                    hr.context__card__footer__line
                    .footer__foot This is a footer
            br
    section.context
    section.context
    include includes/footer.pug

