extends votingLayout

block content
    section.header
        nav.header__nav
            .header__nav__homeDiv
                a(class="header__nav__homeDiv__home" href="../")
                    i(class="fa fa-home" title="Home")
            .header__nav__loginDiv
                a(class="header__nav__loginDiv__items" href="/profile")
                    i(class="fa fa-user" title="Profile")
                a(class="header__nav__loginDiv__items" href="/github-signup")
                    i(class="fa fa-github" title="Login with GitHub")
                a(class="header__nav__loginDiv__items" href="/twitter-signup")
                    i(class="fa fa-twitter" title="Login with Twitter")
                <a class="header__nav__loginDiv__items google" title="Login with Google" href="/google-signup">
                    <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
                        
                            <g>
                                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                <path fill="none" d="M0 0h48v48H0z"></path>
                            </g>
                    </svg>
                </a>
            hr.header__nav__line
        article.header__txt
            .header__txt__title Voting App
            .header__txt__subtitle A Free Code Camp Project
            .header__txt__stub A Place where you can make, host and share Polls
            .header__txt__signup
                a(class="btn" + " btn--full" href="/auth/register" title="Credentials for testing: user  pa$$word") Register
                a(class="btn" + " btn--full" href="/auth/login" title="Credentials for testing: user  pa$$word") Login
    section.context
    section(class="context cards")
        .context__card
            .context__card__header 
                p.context__card__header__title Best Day of the Week?
                .context__card__header__left                
                    ul.context__card__header__left__items                        
                        each val in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
                            a(class="btn" + " btn--empty" href="#")=val
                .context__card__header__right
                    .context__card__header__right__label Votes:
                    .context__card__header__right__votes 10                
            .context__card__footer
                hr.context__card__footer__line
                .footer__foot This is a footer
        br
        .context__card
            .context__card__header 
                p.context__card__header__title Best Day of the Week?
                .context__card__header__left                
                    ul.context__card__header__left__items                        
                        each val in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
                            a(class="btn" + " btn--empty" href="#")=val
                .context__card__header__right
                    .context__card__header__right__label Votes:
                    .context__card__header__right__votes 10                
            .context__card__footer
                hr.context__card__footer__line
                .footer__foot This is a footer
        br
        .context__card
            .context__card__header 
                p.context__card__header__title Best Day of the Week?
                .context__card__header__left                
                    ul.context__card__header__left__items                        
                        each val in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
                            a(class="btn" + " btn--empty" href="#")=val
                .context__card__header__right
                    .context__card__header__right__label Votes:
                    .context__card__header__right__votes 10                
            .context__card__footer
                hr.context__card__footer__line
                .footer__foot This is a footer
        br
        .context__card
            .context__card__header 
                p.context__card__header__title Best Day of the Week?
                .context__card__header__left                
                    ul.context__card__header__left__items                        
                        each val in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
                            a(class="btn" + " btn--empty" href="#")=val
                .context__card__header__right
                    .context__card__header__right__label Votes:
                    .context__card__header__right__votes 10                
            .context__card__footer
                hr.context__card__footer__line
                .footer__foot This is a footer
    section.context
    section.context
    section.footer
        footer.footer__codedby Made with #[i(class="fa fa-heart-o")] by&nbsp
            a(class="footer__codedby__link" href="https://codepen.io/Roky/full/YqGqWg" target="_blank") Roky
            span &nbsp|&nbsp
            a(class="footer__codedby__link" href="https://github.com/Rock-son/Dynamic-web-projects") GitHub Repository