extends includes/head.pug

block content
    include includes/navbar.pug

    section.container
        .container__left
            form.form(action="/voting-app/createPoll" method="post" id="poll_form")
                fieldset#fs.form__fieldset
                    h3.form__header Vote Options
                    input(type="hidden" name="_csrf" value=csrfTkn)
                    each poll in data.options
                        .form__options=poll[0]
                    input.form__submit.btn.btn--large.btn--full(id="submit_btn1" type="submit" value="Add Option")
                    input.form__submit.btn.btn--large.btn--full(id="submit_btn2" type="submit" value="Delete Poll")
        .container__right
            #graph
        input#poll_data(type="hidden" name="data" value=data)
    include includes/footer.pug
    script(type="text/javascript" src=js )