extends includes/head.pug

block content
    include includes/navbar.pug

    section.container
        .container__left
            form.form(action="/voting-app/poll" method="post" id="poll_form")
                fieldset#fs.form__fieldset
                    input(type="hidden" name="_csrf" value=csrfTkn)
                    each poll, index in data.options
                        .form__options(id=index)=poll[0]
                    input.form__btn.btn.btn--large.btn--full(id="add" type="button" value="Add Option")
                    input.form__btn.btn.btn--large.btn--full(id="delete" type="button" value="Delete Poll")
                    input.form__submit(id="submit" type="submit" value="Submit Vote")
        .container__right
            #graph
        input#poll_data(type="hidden" name="data" value=data)
    include includes/footer.pug
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
    script(type="text/javascript" src=js )