extends votingAppLayout   

block content
    .header
        .header__title Free Code Camp - Voting App
    .body
        .container


    .footer
        hr 
        footer.footer__codedby
            p: a(href="https://codepen.io/Roky/full/YqGqWg" target="_blank") Coded By Roky