
.footer {
    height: 7vh;
    margin: 0 auto;
    font-size: 0.5rem;
    color: #333;
    text-align: center;
    margin: 0 auto;
    background-color: #bbb;
}
.footer__codedby {
    color: #333;
    text-align: center;
    margin: 0 auto;
    & a {
        color: #333;
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;
    }
}