.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3vh;
    margin: 0 auto;
    font-size: .8rem;
    color: #222;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    &__codedby {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #222;
        text-align: center;
        margin: 0 auto;
        font-family: "Roboto Condensed", Colibri, Arial, sans-serif;
        background-color: transparent;
        .fa-heart-o {
            color: red;
        }
        &__link {
            text-decoration: none;
            color: #222;
            background-color: transparent;
            &:hover {                
                text-decoration: underline;
            }
            &:visited {                
                text-decoration: underline;
                color: #222;
            }
            &:active {                
                text-decoration: underline;
                color: #222;
            }
        }
    }
}