.header {
    position: relative;
    width: 100%;
    color: #fff;
    top: 0;
    font-family: "Advent Pro", Colibri, Arial, sans-serif;
    font-size: 2rem;
    background-color: #292222;
    z-index: 2;
    box-shadow: 1px 1px 15px #000, 1px 1px 25px #000;

@import "../shared/_navbar.scss";
}